@import "variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Encabezado de la pagina */
header{
    height: 11.81rem;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Cuerpo de la pagina*/

section{
    height: 49.87rem;
    display: flex;
    flex-direction: column;
        h1{
            background-color: $colordelostitulos;
            height: 3.75rem;
            margin-bottom: 8.31rem;
            text-align: center;
            font-family: Times New Roman;
            font-style: normal;
            font-weight: bold;
            font-size: 2.18rem;
            line-height: 84.69%;
            padding: 1rem 13.31rem;
            color:$colordelasletras;
            letter-spacing: 0.5rem
            ;
        }

        article{
            height: 8.56rem;
            h2{
                height: 1.875rem;
                background-color: $colordelostitulos;
                color: $colordelasletras;
                font-family: Times New Roman;
                font-style: normal;
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 84.69%;
                padding: 0.375rem 0.75rem 0.43rem;
                letter-spacing: 0.5rem
                
            }
            ul{
                margin-top: 1.125rem;
                margin-left: 1.5rem;
                font-size: 1rem;
                line-height: 84.69%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                li{
                    margin: 0.31rem 0.31rem;
                    span{
                        font-weight: bold;
                        font-style: italic;
                    }
                    p{
                        margin-left:4.9rem;
                        margin-top: 0.3rem;
                    }
                }
                }
            }
        
        .caja2{
            height: 9.68rem;
        }

        .experiencia{
            font-style: normal;
        }

        .caja3{
            height:19.62rem;
        }
        }
/*Pie de la pagina*/
footer{
    height:2.31rem;
    background-color: $colordelasletras;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 84.69%;
        margin-right: 1.62rem;
        color: white;
    }
    img{
        margin-right: 1.62rem;
    }

}

