@import"variables.scss";

@mixin datos {
    width: 21.25rem;
    height: 2.5rem;
    margin-bottom: 0.6rem;
    border-radius: 1rem;
    background-color:$colordos;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.7rem;
    color:$fuente;
    padding: 1rem;
    border: none;
}