*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}
/* Encabezado de la pagina */
header{
    display: flex;
    flex-direction: column;
}

.ofertas{
    display: flex;
    justify-content: space-between;
    background-color:#222222;
    color: #F3F3F3;
    align-items: center;
    font-size: 15px;
    height: 30px;
}

.ofertas p{
    margin-left: 10rem;
}

.ofertas ul{
    display: flex;
    margin-right: 3.5rem;
    justify-content: space-between;
}

.ofertas ul li{
    margin-left: 2rem;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    color: #F3F3F3;
    height: 60px;
}

.logo{
    margin-left: 5rem;
}

.navegacion ul{
    display: flex;
    margin-right: 3rem;
}

.navegacion ul li{
    margin-left: 2rem;
}


.navegacion li::before{
    content: url("../img/patita.png")

}

.menu{
    display: none;
}
/*Cuerpo de la pagina*/

.banner{
    width: 100%;
}

.banner2{
    display: none;
}

.placer{
    position: relative;
    bottom:350px;
    left: 1100px;
    background-color: #FFFFFF;
    width: 310px;
    height: 50px;
    text-align:center;
    padding-top: 10px;
    color: #3C2313;
    font-weight: normal;
}

.comedores{
    position: relative;
    bottom:330px;
    left: 1150px;
    text-align: center;
    width:200px;
    color:#3C2313
}

.boton1{
    position: relative;
    bottom:315px;
    left: 1180px;
    width: 141px;
    height: 49px;
    background-color: #F0A83E;
    color: #FFFFFF;
    border-radius: 5px;
}

.patita{
    position: relative;
    left: 700px;
    bottom: 100px;
    width: 67px;
    height: 71px;
}

h1{
    position: relative;
    left: 520px;
    bottom: 80px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #3C2313;
    width: 450px;
}

.variedades{
    position: relative;
    left: 620px;
    bottom: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #666666;
    width: 450px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

section article{
    background-color:#FBFAF6;
}

.productos{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #3C2313;
}

.precios{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #F0A83E;
}

.contactos{
    position: relative;
    left: 630px;
    top:100px;
    width: 340px;
    height: 264px;
}

.contactos h3{
    position: relative;
    text-align: center;
    width: 120px;
    margin-left: 95px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #3C2313;
}

.contactos form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactos form input{
    width: 340px;
    height: 40px;
    background-color: #3C2313;
    border-radius: 15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    padding: 10px;
}

.contactos form button{
    width: 110px;
    height: 34px;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 41px;
}

.boton2{
    background-color: #8A8787;
}

.boton3{
    background-color: #F0A83E;
}

.suscribirse{
    position: relative;
    display: flex;
    top: 200px;
    justify-content: space-between;
    background-color: #F0A83E;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 10px;
    height: 60px;
}

.suscribirse form{
    width: 346px;
    height: 40px;
    margin-right: 47px;
    display: flex;
    align-items: center;
}

.suscribirse input{
    width: 271px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: black;
}

.suscribirse button{
    margin-left: 5px;
    width: 70px;
    height: 34px;
    background-color: #3C2313;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
}

/* Pie de pagina */
footer{
    position: relative;
    top:200px;
}

.referencias{
    background-color:#3C2313;
    height: 284px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
}

.datos{
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #8A8787;
}

h4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

#datos2{
    margin-left: 20px;
}

.logo2{
    position: relative;
    bottom: 200px;
    left: 1250px;
}

.derechos{
    background-color: #222222;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
}

/* Validaciones */
.contactos form input:valid{
    border: green 3px solid;
}

.contactos form input:invalid{
    border:  red 3px solid;
}

.suscribirse form input:valid{
    border: green 3px solid;
}

.suscribirse form input:invalid{
    border:  red 3px solid;
}
