*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}
/* Encabezado de la pagina */
header{
    display: flex;
    flex-direction: column;
}

.ofertas{
    display: flex;
    justify-content: space-between;
    background-color:#222222;
    color: #F3F3F3;
    align-items: center;
    font-size: 15px;
    height: 30px;
}

.ofertas p{
    margin-left: 10rem;
}

.ofertas ul{
    display: flex;
    margin-right: 10rem;
    justify-content: space-between;
}

.ofertas ul li{
    margin-left: 2rem;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    color: #F3F3F3;
    height: 60px;
}

.logo{
    margin-left: 5rem;
}

.navegacion ul{
    display: flex;
    margin-right: 9rem;
}

.navegacion ul li{
    margin-left: 2rem;
}

.menu{
    display: none;
}
/*Cuerpo de la pagina*/

.banner{
    width: 100%;
}

.banner2{
    display: none;
}

.placer{
    position: relative;
    bottom:350px;
    left: 1100px;
    background-color: #FFFFFF;
    width: 310px;
    height: 50px;
    text-align:center;
    padding-top: 10px;
    color: #3C2313;
    font-weight: normal;
}

.comedores{
    position: relative;
    bottom:330px;
    left: 1150px;
    text-align: center;
    width:200px;
    color:#3C2313
}

.boton1{
    position: relative;
    bottom:315px;
    left: 1180px;
    width: 141px;
    height: 49px;
    background-color: #F0A83E;
    color: #FFFFFF;
    border-radius: 5px;
}

.patita{
    position: relative;
    left: 700px;
    bottom: 100px;
    width: 67px;
    height: 71px;
}

h1{
    position: relative;
    left: 520px;
    bottom: 80px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #3C2313;
    width: 450px;
}

.variedades{
    position: relative;
    left: 620px;
    bottom: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #666666;
    width: 450px;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

section article{
    background-color:#FBFAF6;
}

.productos{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #3C2313;
}

.precios{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #F0A83E;
}

.contactos{
    position: relative;
    left: 630px;
    top:100px;
    width: 450px;
}

.contactos h3{
    position: relative;
    text-align: center;
    width: 120px;
    left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #3C2313;
}

.contactos p{
    position: relative;
    margin-top: 10px;
    background-color: #3C2313;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    color: #FFFFFF;
    right: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    padding-left: 10px;
    padding-top: 10px;
}

.contactos button{
    position: relative;
    margin-top: 50px;
    left: 10px;
    width: 110px;
    height: 34px;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.boton2{
    background-color: #8A8787;
}

.boton3{
    background-color: #F0A83E;
}

.suscribirse{
    position: relative;
    display: flex;
    top: 200px;
    justify-content: space-between;
    background-color: #F0A83E;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 10px;
    height: 50px;
}

.correo{
    display: flex;
}

.correo p{
    width: 271px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    color: #A0A0A0;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
}

.correo button{
    width: 70px;
    height: 34px;
    background-color: #3C2313;
    border-radius: 15px; 
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    margin-right: 80px;
}
/* Pie de pagina */
footer{
    position: relative;
    top:200px;
}

.referencias{
    background-color:#3C2313;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
}

.datos{
    margin-left: 100px;
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #8A8787;
}

h4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

#datos2{
    margin-left: 20px;
}

.logo2{
    position: relative;
    bottom: 200px;
    left: 1250px;
}

.derechos{
    background-color: #222222;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
}

/* Version movil */
@media (max-width:480px){
    /* Pie de la pagina */
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    header{
        width: 100%;
    }

    .ofertas{
        display: none;
    }

    .logo{
        margin-left: 2rem;
    }

    .navegacion ul{
        display: none;
    }

    .menu{
        position: relative;
        display:block;
        width: 20px;
        height: 20px;
        margin-right: 30px;
    }

    /* Cuerpo */
    .banner{
        display: none;
    }

    .banner2{
        display: block;
        position: relative;
        width: 100%;
        height: 400px;
    }

    .placer{
        position: relative;
        margin-left: -1080px;
        margin-top: 60px;
    }

    .comedores{
        position: relative;
        margin-left: -1040px;
    }

    .boton1{
        position: relative;
        margin-left: -1040px;
    }

    .patita{
        position: relative;
        margin-left: -560px;
        margin-top: -50px;
        width: 90.38px;
        height: 83.95px;
    }

    h1{
        position: relative;
        margin-left: -440px;
        margin-top: -10px;
        width: 212.89px;
        height: 93.95px;
        text-align: center;
    }

    .variedades{
        position: relative;
        width: 200px;
        margin-left: -530px;
        margin-top: -10px;
        font-size: 13px;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: -50px;
    }

    section article{
        margin-top: 60px;
    }

    .contactos{
        width:280px;
        position: relative;
        margin-left: -570px;
        margin-top: -50px;
    }

    .contactos h3{
        margin-left: -50px;
        width: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
    }

    .contactos p{
        width: 280px;
        height: 40px;
        margin-left: 2rem;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 11px;
        color: #AB9C9C;
    }

    .contactos button{
        width: 120px;
        height: 45px;
        border-radius: 25px;
        margin-left: -20px;
        margin-right: 30px;
        
    }

    .suscribirse{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .suscribirse p{
        width: 270px;
        font-size: 0.9rem;
        margin-left: 10px;
        margin-top: 10px;
        
    }

    .suscribirse div{
        display: flex;
        justify-content: space-between;
        margin-left: -50px;
        margin-bottom: 10px;
    }

    .suscribirse div p{
        width: 250px;
    }
    
    .suscribirse button{
        margin-right: -30px;
        margin-top: 15px;

    }

    /* Pie de pagina */
    .datos{
        margin-top: 60px;
    }

    .logo2{
        position: relative;
        left: 120px;
        top:-360px;
        width: 134px;
        height: 18px;
    }
    
}
