*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.casa1{
    position: absolute;
    width: 300px;
    height: 529px;
    left: 32px;
    top: 293px;
}

.corazon1{
    position:absolute;
    left: 53px;
    right: 941px;
    top: 308.88px;
    bottom: 688.88px;
}

.corazon2{
    position:absolute;
    left: 383px;
    right: 941px;
    top: 308.88px;
    bottom: 688.88px;
}

.corazon3{
    position:absolute;
    left: 713px;
    right: 941px;
    top: 308.88px;
    bottom: 688.88px;
}

.descuentos{
    position: absolute;
    background: #1CD1B0;
    width: 100%;
    height: 38px;
    left: 0px;
    top: 0px;
}

.decoracion{
    position: absolute;
    width: 300px;
    height: 336px;
    left: 32px;
    top: 485px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.decoracion2{
    position: absolute;
    width: 300px;
    height: 336px;
    left: 362px;
    top: 485px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.decoracion3{
    position: absolute;
    width: 300px;
    height: 336px;
    left: 692px;
    top: 486px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer{
    position: absolute;
    width: 100%;
    height: 51px;
    left: 0px;
    top: 972px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heroes{
    position: absolute;
    width: 100%;
    height: 101px;
    left: 0px;
    top: 38px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.imagen1{
    position: relative;
    width: 300px;
    height: 193px;
    left: 32px;
    top: 293px;
    background-image: url("../img/vaticueva.png");
}

.imagen2{
    position: absolute;
    width: 120px;
    height: 118px;
    left: 122px;
    top: 421px;
    background: url(batman.jpg);
    z-index: 1;
}

.imagen3{
    position: absolute;
    width: 300px;
    height: 193px;
    left: 362px;
    top: 293px;
    background: url(bg.jpg);
    border-radius: 16px 16px 0px 0px;
    background-image: url("../img/fondoharley.png");
}

.imagen4{
    position: absolute;
    width: 122px;
    height: 122px;
    left: 451px;
    top: 419px;
    z-index: 1;
}

.imagen5{
    position: absolute;
    width: 300px;
    height: 193px;
    left: 692px;
    top: 294px;
    border-radius: 16px 16px 0px 0px;
    background-image: url("../img/vaticueva2.png");

}

.imagen6{
    position: absolute;
    width: 122px;
    height: 120px;
    left: 781px;
    top: 420px;
    z-index: 1;

}

.texto1{
    position: relative;
    width: 100%;
    height: 18px;
    left: 10px;
    top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.texto2{
    position:relative;
    width: 128px;
    height: 47px;
    left: 28px;
    top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.texto3{
    position: absolute;
    width: 267px;
    height: 113px;
    left: 48px;
    top: 604px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    display: flex;
    align-items: flex-end;
}

.texto4{
    position: absolute;
    width: 267px;
    height: 113px;
    left: 378px;
    top: 604px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.texto5{
    position: absolute;
    width: 267px;
    height: 113px;
    left: 708px;
    top: 605px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333; 
}

.texto6{
    position:absolute;
    width: 100%;
    height: 19px;
    left: 16px;
    top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFF9F9;
}

.titulo1{      
    position: absolute;
    width: 122px;
    height: 35px;
    left: 121px;
    top: 559px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-align: center;
}

.titulo2{
    position: absolute;
    width: 200px;
    height: 35px;
    left: 427px;
    top: 559px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    color: #000000;
}

.titulo3{
    position: absolute;
    width: 122px;
    height: 35px;
    left: 781px;
    top: 560px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

.vermas1{
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    left: 117px;
    top: 754px;
    background: #00669F;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #F3F3F3
}

.vermas2{
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    left: 447px;
    top: 754px; 
    background: #00669F;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #F3F3F3;
}

.vermas3{
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    left: 777px;
    top: 755px;
    background: #00669F;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #F3F3F3;
}

