@import"variables.scss";
@import"mixin.scss";
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    }
/*Pie de la pagina*/
header{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
        h2{
            width: 3.43rem;
            font-size: 2rem;
            margin-left: 10rem;
        }
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
            margin-right: 10rem;
            li{
                margin-left: 2rem;
            }
        }
}
/*Cuerpo de la pagina*/
section{
    font-family: Arial, Helvetica, sans-serif;
        .caja1{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            .imagen{
                margin-right: 8rem;
            }
            h1::before{
                content: " ";
                background-color: $bgprimario;
                position: absolute;
                width: 14rem;
                height: 3rem;
                z-index: -1;
            }
            h1{
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 4.375rem;
                width: 30rem;
                letter-spacing: 0.5rem;
                margin-left: 10rem;
            }
            p{
                margin-top: 1.5rem;
                margin-left: 10rem;
                width: 30rem;
                line-height: 2rem;
                font-size: 1.1rem;
                color: $colorprimario;
            }
            div{
                margin-left: 10rem;
                button{
                    @include button;
                    margin-right: 1rem;
                }
            }
        }
        .contenedor{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: 2rem;
            margin-top:-3.5rem;
            .cajasiguales{
                height: 15rem;
                width: 18rem;
                background-color: $bgsecundario;
                z-index: -2;
                button{
                    border-radius: 50%;
                    width: 2.5rem;
                    height: 2.5rem;
                    margin: 0.5rem 0.5rem;
                    box-shadow: $bgprimario -0.25rem 0rem;
                    border: black 0.1rem solid;
                }
                h3::before{
                    content: " ";
                    position:absolute;
                    background-color: $bgprimario;
                    width: 1.2rem;
                    height: 0.8rem;
                    z-index: -1;
                }
                h3{
                    margin-left: 0.5rem;
                    margin-top: 0.5rem;
                }
                p{
                    margin-left: 0.5rem;
                    margin-top: 0.5rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
/*Pie de la pagina*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .marcaregistrada{
        margin-left: 10rem;
    }
    .redessociales{
        margin-right: 10rem;
        button{
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            margin: 0.5rem 0.5rem;
            box-shadow: $bgprimario -0.25rem 0rem;
            border: black 0.1rem solid;
        }
    }
}