.foto{
position:relative;
width: 100px;
height: 147px;
left: 670px;
top: 21px;
}

#datos{
    font-style: italic;
    font-weight: bold;
}

#formacion{
    font-weight: bold;
}

footer{
    background-color: #005677;
}

h1{
    text-align: center;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 188px;
font-family: Times New Roman;
font-style: normal;
font-weight: bold;
line-height: 1.6;
font-size: 35px;
color: #005677;
background-color: #C4C4C4; 
}

h3{
    top: 10000px;
    font-size: 20px;
    color:#005677;
    background-color: #C4C4C4;
    line-height: 1.6;
}

header{
    text-align: center;
    width: 100%;
    height: 189px;
    left: 0px;
    top: 0px;
    background-color: #E5E5E5;
    }

.piedepagina{
    text-align: center;
    color: #FFFFFF;
    font-family: Times New Roman;
    line-height: 1.6;
}


